body {
background:
linear-gradient(45deg, #88CC88 45px, transparent 45px)64px 64px,
linear-gradient(45deg, #88CC88 45px, transparent 45px,transparent 91px, #55AA55 91px, #55AA55 135px, transparent 135px),
linear-gradient(-45deg, #88CC88 23px, transparent 23px, transparent 68px,#88CC88 68px,#88CC88 113px,transparent 113px,transparent 158px,#88CC88 158px);
background-color:#55AA55;
background-size: 128px 128px;
}

p1, p2 {
    font-size: 40px;
    color: black ;
    font-weight: 800;
}
h1 {
    font-size: 70px;
    color: black ;
    font-weight: 600;
    text-align: center ;
}