body {
background-color: green ;
background-image: 
radial-gradient(circle at 100% 150%, #55AA55 24%, #88CC88 25%, #88CC88 28%, #55AA55 29%, #55AA55 36%, #88CC88 36%, #88CC88 40%, transparent 40%, transparent),
radial-gradient(circle at 0    150%, #55AA55 24%, #88CC88 25%, #88CC88 28%, #55AA55 29%, #55AA55 36%, #88CC88 36%, #88CC88 40%, transparent 40%, transparent),
radial-gradient(circle at 50%  100%, #88CC88 10%, #55AA55 11%, #55AA55 23%, #88CC88 24%, #88CC88 30%, #55AA55 31%, #55AA55 43%, #88CC88 44%, #88CC88 50%, #55AA55 51%, #55AA55 63%, #88CC88 64%, #88CC88 71%, transparent 71%, transparent),
radial-gradient(circle at 100% 50%, #88CC88 5%, #55AA55 6%, #55AA55 15%, #88CC88 16%, #88CC88 20%, #55AA55 21%, #55AA55 30%, #88CC88 31%, #88CC88 35%, #55AA55 36%, #55AA55 45%, #88CC88 46%, #88CC88 49%, transparent 50%, transparent),
radial-gradient(circle at 0    50%, #88CC88 5%, #55AA55 6%, #55AA55 15%, #88CC88 16%, #88CC88 20%, #55AA55 21%, #55AA55 30%, #88CC88 31%, #88CC88 35%, #55AA55 36%, #55AA55 45%, #88CC88 46%, #88CC88 49%, transparent 50%, transparent);
background-size:100px 50px;
}
.header {
    font-weight: 600;
    color: black ;
    background-color: white;
    text-align: center;
    font-size: 30px ;
    width: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    border-style: solid;
    border-color: #55AA55;
    border-radius: 15px;
}
.response {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.form-check-inline {
    color: black;
    padding-left: 20px;
    display: inline-block;
    font-size: 30px;
    vertical-align: middle;
}
p {
    font-size: 20px;
    font-weight: 900;
    color: black;
    text-align: center;
}
.keyname {
    font-size: 70px;
    color: black;
    text-align: center;
    text-decoration: underline;
}
.submitcontainer {
    margin: 0 auto;
    background-color: #116611;
    border-style: solid;
    border-color: white;
    border-radius: 15px;
    position: relative;
    height: 60px;
    text-align: center;
    width: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
}
#submit, #next {
    background-color: transparent;
    font-size: 30px;
    color: white;
    width: 100%;
    height: 100%;
    border: none;
    vertical-align: middle;
    display: block;
}

#results {
    font-size: 50px;
    color: black ;
    font-weight: 600;
    text-align: center ;

}
#next:hover {
    text-decoration: none;
}

#results {
    Width:100%;
    Height:100%;
}


